<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit computer</title>
</head>
<body>
<form action="#" th:action="@{/view/computers/update}"
      th:object="${computer}" method="post">
    <input type="hidden" th:field="*{id}" id="id" placeholder="id">
    <label for="cpu">CPU</label>
    <input type="text" th:field="*{cpu}" id="cpu" placeholder="CPU">
    <label for="gpu">GPU</label>
    <input type="text" th:field="*{gpu}" id="gpu" placeholder="GPU">
    <label for="ramSize">Ram size</label>
    <input type="number" th:field="*{ramSize}" id="ramSize" placeholder="4">
    <input type="submit" value="Save computer">
</form>
</body>
</html>