<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
</head>
<body>
<div th:switch="${computers}">
    <h2 th:case="null">No computers yet!</h2>
    <div th:case="*">
        <h2>Computers</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>CPU</th>
                <th>GPU</th>
                <th>Ram size</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="computer : ${computers}">
                <td th:text="${computer.id}"></td>
                <td th:text="${computer.cpu}"></td>
                <td th:text="${computer.gpu}"></td>
                <td th:text="${computer.ramSize}"></td>
                <td><a
                        th:href="@{/test/edit/{id}(id=${computer.id})}">Edit</a></td>
                <td><a
                        th:href="@{/test/remove/{id}(id=${computer.id})}">Remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/test/add">Add a new computer</a></p>
</div>
</body>
</html>